@font-face {
    font-family: Libre Franklin;
    src: url("../fonts/woff2/LibreFranklin-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: Libre Franklin;
    src: url("../fonts/woff2/LibreFranklin-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: Libre Franklin;
    src: url("../fonts/woff2/LibreFranklin-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  